<ion-view title="账户" id="account" class="headerBg">
  <ion-header-bar class="bar">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div class="account-edit" ng-bind="editText" ng-click="editClick()"></div>
  </ion-header-bar>

  <ion-content>
    <ion-list class="account-List">
      <ion-item ng-repeat="item in accountData">
        <span ng-click="{{item.clickEvent}}">{{item.tag}}</span>
        <img ng-src="{{userData.avatar}}" alt="" class="account-img" ng-if="item.isAvatar" ng-click="imgPicker()">
        <input type="text" class="accountInput" ng-if="item.isShow" ng-model="userData.name" ng-disabled="isEditable">
        <div class="account-radois" ng-if="item.isSex">
          <input type="radio" name="sex" checked ng-disabled="isEditable">男
          <input type="radio" name="sex" ng-disabled="isEditable">女
        </div>
        <span ng-click="openPicker()" ng-if="item.isDate" class="birthdate">{{userData.date}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
