<ion-view title="预约就餐" class="headerBg" id="book-table">
  <ion-nav-bar class="bar bar-positive">
    <ion-nav-buttons side="left" class="backBtn">
      <i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="true" scrollbar-y="false">
    <ion-list>
      <ion-item ng-repeat="item1 in bookDatas1">
        {{item1.title}}
        <!-- <input type="datetime-local" ng-if="item1.isDate" name="name" value="" placeholder="{{item1.placeText}}"> -->
        <div ng-if="item1.isDate" class="time" ng-click="selectTime()">{{dateText}}</div>

        <!-- 选择人数 -->
        <div class="peopleNum-sub" ng-if="item1.isPeopleNum">
          <span ng-click="decPeople()">-</span>{{order.numOfPeople}}<span ng-click="addPeople()">+</span>
        </div>
        <!-- 是否需要包房开关 -->
        <label class="toggle toggle-assertive checkbtn" ng-if="item1.isCheckbox">
           <input type="checkbox" class="checkbox" ng-checked="order.isRoom">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        <label class="toggle toggle-assertive checkbtn" ng-if="item1.isDesk">
            <input type="checkbox" class="checkbox" ng-checked="item1.chooseDesk" ng-click="showDesk($event)">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </ion-item>
    </ion-list>
    <ion-scroll scrollbar-y="false" class="desk-box">
      <div ng-repeat="item in deskData track by $index" class="desk" id="{{item.deskId}}" ng-click="deskClick(item.deskId,$index)">
        {{item.deskNum}}
      </div>
    </ion-scroll>
    <div class="list-bottom"></div>
    <ion-list>
      <ion-item ng-repeat="item2 in bookDatas2">
        {{item2.title}} <input type="text" ng-if="item2.hadInput" ng-model="item2.value">
      </ion-item>
    </ion-list>
    <button class="button button-assertive go-btn" ng-click="orderClick()">继续点菜</button>
  </ion-content>
</ion-view>
