<ion-view title="意见反馈" id="fedback" class="headerBg">
  <ion-header-bar class="bar">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <img ng-src="img/back.png" ng-click="goBack()" />
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>

  <ion-content scroll="false">
    <textarea name="fedbackText" rows="10" cols="30" class="fedbackText" placeholder="小明订座期待你的建议"></textarea>
    <button type="button" name="button" class="btn">提交</button>
  </ion-content>
</ion-view>
