<ion-view title="小明餐厅{{id}}" class="headerBg" id="detail">

	<ion-nav-bar class="bar bar-positive">
		<ion-nav-buttons side="left" class="backBtn">
			<img ng-src="img/back.png" ng-click="goBack()" />
		</ion-nav-buttons>
	</ion-nav-bar>



	<ion-content scrollbar-y="false">
		<div class="top">
			<img ng-src="img/img1.jpg" alt="" class="res-img">
		</div>
		<ul class="content">
			<li>
				<a><i class="icon ion-navigate"></i>{{restaurentData.address}}<i class="icon ion-chevron-right iright2"></i></a>
				<a href="tel:{{restaurentData.phone}}"><i class=" icon ion-ios-clock-outline "></i>营业时间：{{restaurentData.time}}<i class="icon ion-android-call iright2"></i></a>
			</li>
			<li>环境：<span>{{restaurentData.eScore}}</span>味道：<span>{{restaurentData.tScore}}</span>服务：<span>{{restaurentData.sScore}}</span></li>
			<li><a href="#/tab/enterprise">商家营业资质 <i class="icon ion-chevron-right iright"></i></a></li>
			<li><a href="#/tab/evaluation">顾客评价 <i class="icon ion-chevron-right iright"></i></a></li>
			<li>
				<p>餐厅描述:</p>
				<p>{{restaurentData.describe}}</p>
			</li>
		</ul>

	</ion-content>
	<div id="footer">
		<a href="#/tab/bookTable ">预约</a>
		<a href="#/tab/menu">点菜</a>
	</div>
</ion-view>
