<ion-view title="{{restaurentData.title}}" class="headerBg" id="detail">
	<ion-header-bar class="bar">
		<ion-nav-bar>
			<ion-nav-buttons side="left" class="backBtn">
				<i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
			</ion-nav-buttons>
		</ion-nav-bar>
		<i class="ion-more more-function" ng-click="isMore = !isMore;"></i>
	</ion-header-bar>
	<ul class="more-list" ng-if="isMore">
		<li><i class="ion-share" ng-click="shareClick()">分享</i></li>
		<li><i class="ion-heart" ng-click="concernClick()">关注</i></li>
	</ul>
	<ion-content scrollbar-y="false" overflow-scroll="true">
		<div class="top">
			<img src="{{restaurentData.imgSrc1}}" alt="" class="res-img">
		</div>
		<ul class="content">
			<li>
				<a><i class="icon ion-navigate"></i>{{restaurentData.address}}<i class="icon ion-chevron-right iright2"></i></a>
				<a href="tel:{{restaurentData.phone}}"><i class=" icon ion-ios-clock-outline "></i>营业时间：{{restaurentData.time}}<i class="icon ion-android-call iright2"></i></a>
			</li>
			<li>环境：<span>{{restaurentData.escore}}</span>味道：<span>{{restaurentData.tscore}}</span>服务：<span>{{restaurentData.sscore}}</span></li>
			<li><a href="#/tab/enterprise">商家营业资质 <i class="icon ion-chevron-right iright"></i></a></li>
			<li><a href="#/tab/evaluation/{{restaurentId}}">顾客评价 <i class="icon ion-chevron-right iright"></i></a></li>
			<li>
				<p>餐厅描述:</p>
				<p>{{restaurentData.describe}}</p>
			</li>
		</ul>

	</ion-content>
	<div id="footer">
		<a ng-click="book()">预约</a>
		<a ng-click="toMenu()">点菜</a>
	</div>

	//分享页面
	<div class="share" ng-click="hideShare()">
		<img src="img/wx.png" alt="" ng-click="wxClick($event)">
		<img src="img/qq.png" alt="" ng-click="wxClick($event)">
	</div>
</ion-view>
