<ion-view title="账户登录" id="login">
  <ion-header-bar class="bar">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>

  <ion-content>
    <div class="username">
      <span>账户</span><input type="text" id="username" ng-model="msg.username" placeholder="手机号/会员名">
    </div>
    <div class="password">
      <span>登录密码</span><input type="{{btnType}}" id="password" ng-model="msg.password" placeholder="请输入密码">
      <i class="ion-eye eyes" ng-class="psw?'active':''" ng-click="eyeClick()"></i>
    </div>
    <button type="button" class="loginbtn" ng-click="login()">登录</button>
    <a href="###" class="forget">忘记密码</a>
    <a href="#/tab/register" class="register">免费注册</a>
  </ion-content>
</ion-view>
