<ion-view title="菜单" id="menu" class="headerBg">
  <ion-header-bar class="bar">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <img ng-src="img/back.png" ng-click="goBack()" />
      </ion-nav-buttons>
    </ion-nav-bar>
    <i class="ion-information-circled current-location" ng-click="locationClick()"></i>
  </ion-header-bar>
  <div class="location-box" ng-if="showLocation">
    您的位置为：{{restaurentName}} {{deskNum}}号桌
  </div>
  <ion-content overflow-scroll="true" id="scroll1" scrollbar-y="false">
    <ul class="menu-list">
      <li ng-repeat="item in listDatas track by $index" ng-class="{'item-selected':item.isFocus}" ng-click="listClick($index,item.name)">
        {{item.name}}
      </li>
    </ul>
  </ion-content>
  <ion-content overflow-scroll="true" id="scroll2" scrollbar-y="false">
    <ul class="menu-list-detail">
      <li ng-repeat="item in detailDatas">
        <img ng-src="{{item.img}}" alt="">
        <div class="msg-box">
          <h5>{{item.name}}</h5>
          <p>{{item.priceText}}</p>
        </div>

        <div class="peopleNum-sub">
          <span ng-click="dec(item.menuId)">-</span>{{item.num}}<span ng-click="add(item.menuId)">+</span>
        </div>
      </li>
    </ul>
  </ion-content>
  <div class="my-order-box" ng-if="showOrderBox">
    <ul class="my-order">
      <li>购物车清单<span>清空</span></li>
      <li ng-repeat="orderItem in myOrders"></li>
    </ul>
  </div>

  <div id="menuFooter">
    <div class="shoppingCar" ng-click="showOrderBox=!showOrderBox">
      <span class="menu-num" ng-if="numOfMenu">{{numOfMenu}}</span>
      <i class="ion-ios-cart-outline"></i>
    </div>
    <span class="totle-money">共￥{{totleMoney}}</span>
    <span class="menu-btn">选好了</span>
  </div>
</ion-view>
