<ion-view id="menu" title="菜单" class="headerBg">
  <ion-header-bar class="bar" align-title="center">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
    <i class="ion-information-circled current-location" ng-click="locationClick()"></i>
  </ion-header-bar>
  <div class="location-box" ng-if="showLocation">
    您的位置为：{{restaurentName}} {{deskNum}}号桌
  </div>
  <ion-content overflow-scroll="true" id="scroll1" scrollbar-y="false">
    <ul class="menu-list">
      <li ng-repeat="item in listDatas track by $index" ng-class="{'item-selected':item.isFocus}" ng-click="listClick($index,item.name)">
        {{item.name}}
      </li>
    </ul>
  </ion-content>
  <ion-content overflow-scroll="true" id="scroll2" scrollbar-y="false">
    <ul class="menu-list-detail">
      <li ng-repeat="item in detailDatas">
        <img ng-src="{{item.img}}" alt="">
        <div class="msg-box">
          <h5>{{item.name}}</h5>
          <p>{{item.priceText}}</p>
        </div>

        <div class="peopleNum-sub">
          <span ng-click="dec(item.menuId,$event)">-</span>{{item.num}}<span ng-click="add(item.menuId,$event)">+</span>
        </div>
      </li>
    </ul>
  </ion-content>
  <div class="my-order-box" ng-if="showOrderBox" ng-click="showOrderBox=!showOrderBox">
    <ul class="my-order">
      <li>购物车清单<span ng-click="clearCar($event)">清空</span></li>
      <li ng-repeat="orderItem in allMenu" ng-if="orderItem.num">
        {{orderItem.name}}
        <span>  {{orderItem.priceText}}</span>
        <div class="peopleNum-sub">
          <span ng-click="dec(orderItem.menuId,$event)">-</span>{{orderItem.num}}<span ng-click="add(orderItem.menuId,$event)">+</span>
        </div>
      </li>
    </ul>
  </div>
  <!-- <div class="detail-box">

  </div> -->

  <div id="menuFooter">
    <div class="shoppingCar" ng-click="showOrderBox=!showOrderBox">
      <span class="menu-num" ng-if="numOfMenu">{{numOfMenu}}</span>
      <i class="ion-ios-cart-outline"></i>
    </div>
    <span class="totle-money">共￥{{totleMoney}}</span>
    <span class="menu-btn" ng-click="goHadOrders()">选好了</span>
  </div>
</ion-view>
