<ion-view title="支付" id="pay" class="headerBg">
  <ion-header-bar class="bar">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>

  <ion-content>
    <ul class="pay-order">
      <li>订金：<span>{{orderData.money}}</span></li>
      <li>餐厅名称：<span>{{orderData.name}}</span></li>
      <li>订单号：<span>{{orderData.orderId}}</span></li>
    </ul>
    <ul class="pay-payselector">
      <li ng-repeat="item in payData">
        <img src="{{item.imgsrc}}" alt=""> {{item.title}}
        <input type="radio" name="pay" value="{{item.value}}">
      </li>
    </ul>

    <button type="button" class="paybtn">确定支付</button>
    <div class="stop-pay">暂不支付</div>
  </ion-content>
</ion-view>
