<ion-view title="推荐餐厅" id="commendRestaurent" class="headerBg">
  <ion-header-bar class="bar">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>

  <ion-content scroll="false">
    <h4>您可推荐的餐厅</h4>
    <select class="enableRestaurent" name="restaurent">
      <option ng-repeat="item in itemDatas" value="{{item.name}}">{{item.name}}</option>
    </select>
    <h4>推荐理由</h4>
    <textarea name="" id="" cols="30" rows="15"></textarea>
  </ion-content>
  <div id="footer">提交</div>
</ion-view>
