<ion-view title="推荐餐厅" id="commendRestaurent" class="headerBg">
  <ion-header-bar class="bar">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>

  <ion-content scroll="false">
    <ion-list>
      <ion-item ng-repeat="item in itemDatas">
        {{item.tag}}<input type="text" name="name" placeholder="{{item.text}}">
      </ion-item>
    </ion-list>
    <button class="commendRestaurentBtn">提交</button>
  </ion-content>
</ion-view>
