<ion-view title="城市选择" id="selectCity" class="headerBg">
  <ion-header-bar class="bar">
    <ion-nav-bar>
      <ion-nav-buttons side="left" class="backBtn">
        <i class="ion-chevron-left back-btn" ng-click="goBack()"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>

  <ion-content delegate-handle="cityScroll">
    <div>当前城市：<span>广州市</span></div>
    <ul>
      <li ng-repeat="item in citys" ng-class="item.isHeader?'city-nav':''" id="{{item.id}}">
        {{item.cityName}}
      </li>
    </ul>
  </ion-content>
  <div class="show-alphabet" ng-if="currentAlphabet">{{currentAlphabet}}</div>
  <ul class="alphabet" on-drag="alphabetMove($event)" on-release="currentAlphabet=0">
    <li ng-repeat="item in alphabet">{{item}}</li>
  </ul>
</ion-view>
