<ion-view id="home">
  <ion-header-bar align-title="center" class="wrap">
    <a class="place" href="#/tab/selectCity" nav-direction="forward"><i class="ion-ios-location-outline location" ng-bind="currentCity"></i></a>
    <a class="search" href="#/tab/search" nav-direction="forward">商家名称</a>
    <img ng-src="img/swipe.png" alt="" class="swipe" ng-click="scan()">
  </ion-header-bar>
  <ul class="sort" ng-if="isItemSort">
    <li>
      <select ng-model="values.placeValue" ng-change="placeChange()">
        <option ng-repeat="item in placeName" value="{{item}}">{{item}}</option>
      </select>
      <!-- <i class="ion-ios-arrow-down"></i> -->
    </li>
    <li>
      <select ng-model="values.classifyValue" ng-change="classifyChange()">
        <option value="所有分类">所有分类</option>
        <option ng-repeat="item in classifyName"  value="{{item}}">{{item}}</option>
      </select>
    </li>
    <li>
      <select ng-model="values.rankValue" ng-change="rankChange()">
        <option ng-repeat="item in rankName"  value="{{item}}">{{item}}</option>
      </select>
    </li>
  </ul>

  <ion-content overflow-scroll="true" scrollbar-y="false" class="home-list" delegate-handle="mainScroll" on-scroll="showNav($event)">
    <!-- <ion-scroll zooming="true" direction="y" class="bigScroll" delegate-handle="mainScroll" on-scroll="showNav($event)"> -->
    <ion-slide-box class="slideshow" does-continue="true" slide-interval="3000" auto-play="true">
      <ion-slide><img ng-src="{{items[0].imgSrc1}}" alt=""></ion-slide>
      <ion-slide><img ng-src="{{items[2].imgSrc1}}" alt=""></ion-slide>
      <ion-slide><img ng-src="{{items[4].imgSrc1}}" alt=""></ion-slide>
    </ion-slide-box>
    <div class="kinds">
      <span ng-repeat="item in classifyName" ng-click="kindClick(item)">{{item}}</span>
    </div>
    <ion-list>
      <ion-item collection-repeat="item in items" href="#/tab/home/{{item.restaurentId}}" class="aitem" ng-click="forwardAnim()">
        <img ng-src="{{item.imgSrc1}}" alt="">
        <div>
          <h3>{{item.title}}</h3>
          <p>{{item.address}}</p>
          <p>{{item.feature}}</p>
          <p>人均消费：￥{{item.money}}</p>
          <!-- <p><span class="light-text">9.6</span>分</p> -->
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMoreData()" distance="15%" immediate-check="false" ng-if="isDatas">
    </ion-infinite-scroll>
    <!-- </ion-scroll> -->
    <div ng-if="!isDatas" class="nodata-tip">没有更多数据了</div>

  </ion-content>
  <i ng-click="top()" class="toTop ion-ios-arrow-thin-up" ng-show="isItemSort"></i>
</ion-view>
