<ion-view view-title="Me" id="me">
  <div class="me-header">
    <div class="mh-top">
      <h3>我的</h3>
      <div>
        <img ng-src="{{userData.avatar}}" alt="无法显示" class="user-img" ng-click="settingClick()">
        <span ng-bind="userData.name"></span>
      </div>
      <svg class="me-icon" aria-hidden="true" ng-click="settingClick()">
        <use xlink:href="#icon-setting"></use>
      </svg>
    </div>
    <ul class="mh-bottom">
      <li><a href="#/tab/invite" nav-direction="forward">邀请</a></li>
      <li><a href="#/tab/msg" nav-direction="forward">提现</a></li>
      <li><a href="#/tab/qrcodepay" nav-direction="forward">支付</a></li>
      <li><a href="#/tab/msg" nav-direction="forward">消息</a></li>
    </ul>
  </div>
  <ion-content overflow-scroll="true" scrollbar-y="false">
    <ion-list class="me-List">
      <ion-item ng-repeat="item in meItems1" ng-click="itemClick(item.href)" nav-direction="forward">
        {{item.tagText}}
        <span ng-if="item.show" class="me-item-othermsg">{{item.otherMsg}}</span>
        <i class="ion-chevron-right iright"></i>
      </ion-item>
    </ion-list>
    <div class="divDiving"></div>
    <ion-list class="me-List">
      <ion-item ng-repeat="item in meItems2" href="{{item.href}}">
        {{item.tagText}}
        <span ng-if="item.show" class="me-item-othermsg">{{item.otherMsg}}</span>
        <i class="ion-chevron-right iright"></i>
      </ion-item>
    </ion-list>
    <div class="divDiving"></div>
    <ion-list class="me-List">
      <ion-item ng-repeat="item in meItems3" ng-click="itemClick(item.href)" nav-direction="forward">
        {{item.tagText}}
        <span ng-if="item.show" class="me-item-othermsg">{{item.otherMsg}}</span>
        <i class="ion-chevron-right iright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
