<ion-view id="home">
  <ion-header-bar align-title="center" class="wrap">
    <a class="place" href="#/tab/selectCity" nav-direction="forward"><i class="ion-ios-location-outline location" ng-bind="currentCity"></i></a>
    <a class="search" href="#/tab/search" nav-direction="forward">商家名称</a>
    <img ng-src="img/swipe.png" alt="" class="swipe" ng-click="scan()">
  </ion-header-bar>
  <ul class="sort" ng-if="isItemSort">
    <!-- <li>全部<i class="ion-ios-arrow-down"></i></li>
    <li>所有分类<i class="ion-ios-arrow-down"></i></li>
    <li>距离优先<i class="ion-ios-arrow-down"></i></li> -->
    <li>
      <select>
      <option selected>全部</option>
      <option >海珠区</option>
      <option>天河区</option>
    </select>
      <!-- <i class="ion-ios-arrow-down"></i> -->
    </li>
    <li><select>
    <option selected>所有分类</option>
    <option >火锅</option>
    <option>海鲜</option>
    <option>川菜</option>
    <option>粤菜</option>
    <option>干锅</option>

  </select></li>
    <li><select>
    <option selected>距离优先</option>
    <option>综合评分优先</option>
    <option >服务优先</option>
    <option>口味优先</option>
    <option>环境优先</option>

  </select></li>
  </ul>

  <ion-content overflow-scroll="true" scrollbar-y="false" class="home-list" delegate-handle="mainScroll" on-scroll="showNav($event)">
    <!-- <ion-scroll zooming="true" direction="y" class="bigScroll" delegate-handle="mainScroll" on-scroll="showNav($event)"> -->
    <ion-slide-box class="slideshow" does-continue="true" slide-interval="3000" auto-play="true">
      <ion-slide><img ng-src="img/img1.jpg" alt=""></ion-slide>
      <ion-slide><img ng-src="img/img2.jpg" alt=""></ion-slide>
      <ion-slide><img ng-src="img/img3.jpg" alt=""></ion-slide>
    </ion-slide-box>
    <div class="kinds">
      <span>火锅</span>
      <span>川菜</span>
      <span>海鲜</span>
      <span>烧烤</span>
      <span>西餐</span>
      <span>粤菜</span>
      <span>快餐</span>
      <span>干锅</span>
    </div>
    <ion-list>
      <ion-item collection-repeat="item in items" href="#/tab/home/{{item.restaurentId}}" class="aitem" ng-click="forwardAnim()">
        <img ng-src="{{item.imgSrc1}}" alt="">
        <div>
          <h3>{{item.title}}</h3>
          <p>{{item.address}}</p>
          <p>{{item.feature}}</p>
          <p>人均消费：￥{{item.money}}</p>
          <!-- <p><span class="light-text">9.6</span>分</p> -->
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMoreData()" distance="15%" immediate-check="false" ng-if="isDatas">
    </ion-infinite-scroll>
    <!-- </ion-scroll> -->
    <div ng-if="!isDatas" class="nodata-tip">没有更多数据了</div>

  </ion-content>
  <i ng-click="top()" class="toTop ion-ios-arrow-thin-up" ng-show="isItemSort"></i>
</ion-view>
