<!-- <div class="pay-box">
  <div class="pay-mask" v-if="showPay">
    <div class="pay-wrap" v-if="beforePay">
      <p>钱包密码</p>
      <p>￥{{money}}</p>
      <p>
        <input id="pay-password" type="password" class="pay-password" maxlength="6" v-model="password">
        <label for="pay-password"><span v-for="i in password"></span></label>
      </p>
      <p>
        <button class="pay-cancal" @click="cancel">取消</button>
        <button class="pay-refine" @click="pay">付款</button>
      </p>
    </div>
    <div class="paying-box" v-if="paying">
      <div class="mul7">
        <div class="mul7circ m7c1"></div>
        <div class="mul7circ m7c2"></div>
        <div class="mul7circ m7c3"></div>
        <div class="mul7circ m7c4"></div>
        <div class="mul7circ m7c5"></div>
        <div class="mul7circ m7c6"></div>
        <div class="mul7circ m7c7"></div>
        <div class="mul7circ m7c8"></div>
        <div class="mul7circ m7c9"></div>
        <div class="mul7circ m7c10"></div>
        <div class="mul7circ m7c11"></div>
        <div class="mul7circ m7c12"></div>
      </div>
      <p>正在支付...</p>
    </div>
    <div class="pay-result" v-if="payResult">
      <img :src="rightimg" alt="">
      <p>支付成功!</p>
    </div>
  </div>
</div> -->
