.wrap{
	position: relative;
	padding-top:10px;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}
.place{
	position: absolute;
	left: 9px;
	padding-right:15px;
	background: url(../img/down.png) no-repeat 90% 60%;
	background-size: 7px 7px; 
	line-height: 28px;
}
.search{
	padding-left: 12%;
	margin-left: 5%;
	width: 60%;
	height: 28px;
	background: url(../img/search.png) no-repeat 8% center;
	background-size: 20px 20px;
	color:#B5B5B5;
	line-height: 28px;
	border:1px solid #C5D2DC;
	/*box-shadow: 0 0 1px 0 #fff;*/
	border-radius: 10px;
}
.swipe{
	position: absolute;
	right: 2px;
	width: 30px;
	height:30px;
}
.slideshow{
	/*margin-top: 5px; */
	/*width: 100%;*/
	height: 150px;
	background: red;
}
.slideshow ion-slide img{
	width: 100%;
	height: 100%;
}
.kinds span{
	display: inline-block;
	margin:7px 7px 3px;
	padding: 25px 10px 0;
	font-size: 12px;
	text-align: center;
}
.kinds span:nth-child(1){
	background: url(../img/huoguo.png) no-repeat center top;
	background-size: 25px 25px;
}
.kinds span:nth-child(2){
	background: url(../img/chuan.png) no-repeat center top;
	background-size: 25px 25px;
}
.kinds span:nth-child(3){
	background: url(../img/fish.png) no-repeat center top;
	background-size: 25px 25px;
}
.kinds span:nth-child(4){
	background: url(../img/bbq.png) no-repeat center top;
	background-size: 25px 25px;
}
.kinds span:nth-child(5){
	background: url(../img/xican.png) no-repeat center top;
	background-size: 25px 25px;
}
.kinds span:nth-child(6){
	background: url(../img/yuecai.png) no-repeat center top;
	background-size: 25px 25px;
}

.sort{
	position: fixed;
	top:0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
}
.sort li{ 
	padding: 3px 0;
	display: inline-block;
	width:49%;
	background: url(../img/down.png) no-repeat 72% 60%;
	background-size: 8px 8px; 
}
.sort li:first-child{
	background-position: 65% 60%;
	border-right: 1px solid #f0f0f0;
}
.item img{
	float: left;
	width:110px;
	height: 80px;
	border-radius: 5px;
}
.item div{
	position: relative;
	margin-left: 120px;
	
}
.item div p{
	font-size: 12px;
}
.item div p:last-child{
	position: absolute;
	right: -30px;
	top:40%;
}
.item div .light-text{
	font-size: 25px;
	color: red;
}
