.wrap {
  position: relative;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  background: rgb(32, 119, 182);
  /*align-items: center;*/
}

#home .location {
  position: absolute;
  left: 9px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.place i {
  margin-right: 5px;
}

.search {
  padding-left: 10%;
  margin-left: 15px;
  width: 55%;
  height: 28px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.2) url(../img/search.png) no-repeat 8% center;
  background-size: 15px 15px;
  color: #B9B9B9;
  line-height: 28px;
  border: 1px solid #C5D2DC;
  /*box-shadow: 0 0 1px 0 #fff;*/
  text-decoration: none;
  border-radius: 10px;
}

.swipe {
  position: absolute;
  bottom: 7px;
  right: 5px;
  width: 22px;
  height: 22px;
}

.slideshow {
  height: 150px;
}

.slideshow ion-slide img {
  width: 100%;
  height: 100%;
}

.kinds {
  margin-bottom: 3px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*width: 120%;*/
  /*box-shadow: 0 0 1px 1px #e0e0e0;*/
}

.kinds span {
  display: inline-block;
  margin: 5px 0;
  padding: 25px 5px 0;
  font-size: 12px;
  width: 25%;
  text-align: center;
}

.kinds span:nth-child(1) {
  background: url(../img/huoguo.png) no-repeat center top;
  background-size: 25px 25px;
}

.kinds span:nth-child(2) {
  background: url(../img/chuan.png) no-repeat center top;
  background-size: 25px 25px;
}

.kinds span:nth-child(3) {
  background: url(../img/fish.png) no-repeat center top;
  background-size: 25px 25px;
}

.kinds span:nth-child(4) {
  background: url(../img/bbq.png) no-repeat center top;
  background-size: 25px 25px;
}

.kinds span:nth-child(5) {
  background: url(../img/xican.png) no-repeat center top;
  background-size: 25px 25px;
}

.kinds span:nth-child(6) {
  background: url(../img/yuecai.png) no-repeat center top;
  background-size: 25px 25px;
}

.kinds span:nth-child(7) {
  background: url(../img/kuaican.png) no-repeat center top;
  background-size: 25px 25px;
}

.kinds span:nth-child(8) {
  background: url(../img/tea.png) no-repeat center top;
  background-size: 25px 25px;
}

.sort {
  position: fixed;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  /*top:0;*/
  width: 100%;
  background: rgba(32, 119, 182, 0.9);
  border-bottom: 1px solid #B5BECA;
  /*box-shadow: 0 0 5px 0 #B5BECA;*/
  text-align: center;
  color: #fff;
}

.sort li {
  flex-grow: 1;
  padding: 8px 0;
  display: inline-block;
  width: 20%;
}

.sort li select {
  background: rgba(32, 119, 182, 0);
  border: none;
  color: #fff;
}

.sort li:nth-child(2) {
  border-left: 1px dotted rgba(205, 227, 206, .2);
  border-right: 1px dotted rgba(205, 227, 206, .2);
}

.item {
  border: none;
}

.aitem img {
  float: left;
  width: 110px;
  height: 80px;
  /*border-radius: 5px;*/
}

.aitem div {
  /*position: relative;*/
  margin-left: 120px;
}

.aitem div p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}


/*.item div p:last-child{
	position: absolute;
	right: -30px;
	top:40%;
}*/


/*.item div .light-text{
	font-size: 25px;
	color: red;
}*/

.item-complex .item-content {
  padding: 10px;
  margin: 2px 1px;
  /*box-shadow: 0 0 20px 0px #e0e0e0;*/
}

.toTop {
  position: fixed;
  z-index: 30000;
  bottom: 70px;
  right: 15px;
  background: rgba(232, 91, 1, .6);
  width: 30px;
  height: 30px;
  font-size: 28px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgb(204, 143, 23);
}

.nodata-tip {
  text-align: center;
  color: rgb(14, 40, 217);
  margin: 10px 0;
}
