#detail ion-content {
  /*overflow: hidden;*/
  font-size: .14rem;
}

#detail .more-function {
  position: absolute;
  z-index: 100;
  top: .1rem;
  right: .1rem;
  font-size: .25rem;
}

#detail .more-list {
  display: none;
  padding: .08rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background: rgb(10, 108, 209);
  color: #fff;
  letter-spacing: .05rem;
  font-size: .16rem;
}

#detail .more-list li {
  padding: .05rem 0;
}

#detail .more-list li:first-child {
  border-bottom: 1px dotted rgba(255, 255, 255, .3);
}

.top {
  position: relative;
}

.top .res-img {
  position: static;
  width: 100%;
  height: 1.8rem;
}

.top img {
  position: absolute;
  right: .05rem;
  bottom: .1rem;
  width: .25rem;
  height: .25rem;
}

.top img:nth-child(2) {
  bottom: .4rem;
}

.content {
  padding: 0 .1rem;
  margin-bottom: .5rem;
}

.content li {
  padding-bottom: .15rem;
  padding-right: .2rem;
  margin: .15rem 0;
  width: 100%;
  border-bottom: .01rem solid #c0c0c0;
}

.content li i {
  margin-right: .05rem;
}

.content li:first-child {
  position: relative;
  font-size: .12rem;
}

.content li:first-child a {
  margin-bottom: .05rem;
  display: block;
  width: 100%;
}

#detail .rightIon {
  position: absolute;
  right: 0;
  width: .2rem;
  height: .2rem;
}

.content li:nth-child(2) span {
  margin-right: .25rem;
  color: #D91E27;
}

.content li:last-child {
  border-bottom: 0;
  padding-right: 0;
}

.content li:last-child p:last-child {
  font-size: .12rem;
}

.content li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}

.backBtn {
  border: none;
  outline: none;
  background: blue;
}

.left-buttons img {
  width: .15rem;
  height: .15rem;
}

.left-buttons {
  padding-left: .05rem;
  padding-top: .09rem;
}

#detail .iright2 {
  position: absolute;
  right: .05rem;
  font-size: .15rem;
}

#footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  background: #f5f5f5;
  box-shadow: 0 0 1px 0 #909090;
}

#footer a {
  display: inline-block;
  padding: 0;
  width: 49%;
  height: 100%;
  text-align: center;
  color: #000;
  line-height: .4rem;
  text-decoration: none;
}

.share {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.share img {
  margin: 0 auto;
  width: 40%;
  display: block;
}

.share img:first-child {
  margin-top: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#detail #footer {
  line-height: .5rem;
  font-size: .16rem;
  box-shadow: 0 0 2px 0 #505050;
}
