#me {
  background: #f5f5f5;
  font-size: .14rem;
}

.me-icon {
  position: absolute;
  top: .15rem;
  right: .05rem;
  width: .2rem;
  height: .2rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.me-header {
  position: relative;
  color: #fff;
}

.mh-top {
  width: 100%;
  background: rgb(32, 119, 182);
  text-align: center;
}

.mh-top h3 {
  padding-top: .1rem;
  font-size: .2rem;
  color: #fff;
}

.mh-top div {
  padding: .15rem 0 .25rem .1rem;
  text-align: left;
}

.mh-top div img, .mh-top div span {
  vertical-align: middle;
}

.mh-top div img {
  margin-right: .1rem;
  width: .55rem;
  height: .55rem;
  border-radius: .5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.mh-bottom {
  padding: .05rem 0;
  display: flex;
  justify-content: space-around;
  color: #000;
  list-style: none;
  box-shadow: 0 1px 1px 0 #c0c0c0;
}

.mh-bottom li a {
  display: inline-block;
  padding: .23rem 0 0;
  width: 100%;
  height: 100%;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.mh-bottom li:nth-child(1) {
  background: url(../img/sprite.png) -273px 0 no-repeat;
}

.mh-bottom li:nth-child(2) {
  background: url(../img/sprite.png) -300px 0 no-repeat;
}

.mh-bottom li:nth-child(3) {
  background: url(../img/sprite.png) -329px 0 no-repeat;
}

.mh-bottom li:nth-child(4) {
  background: url(../img/sprite.png) -354px 0 no-repeat;
}

#me .scroll-content {
  overflow: hidden;
  top: 2rem;
  /*border-top: 1px solid #e0e0e0;*/
}

.list .item {
  font-size: .14rem;
  border: 1px solid #e0e0e0;
}

.iright {
  position: absolute;
  right: .16rem;
}

.me-item-othermsg {
  position: absolute;
  right: .25rem;
}

.divDiving {
  margin: .1rem 0;
}
