#menu #scroll1 {
  display: inline-block;
  width: 25%;
}

#menu #scroll2 {
  display: inline-block;
  margin-left: 27%;
  width: 70%;
}

#menu .menu-list {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #c8c8c8;
  list-style: none;
  vertical-align: top;
  /*padding-bottom: 45px;*/
}

#menu .location-box {
  position: absolute;
  padding: 5px 0;
  z-index: 100000;
  top: 43px;
  width: 100%;
  background: rgba(32, 119, 182, .9);
  color: #fff;
  text-align: center;
}

.menu-list li {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  text-align: center;
  padding: 15px 0;
  background: #c8c8c8;
}

#menu .current-location {
  position: absolute;
  z-index: 10000;
  right: 10px;
  top: 14px;
  font-size: 22px;
}

#menu .active-location {
  background: red;
}


/*.menu-list li:hover {
  background: #fff;
}*/

#menu .menu-list-detail {
  display: inline-block;
  padding-bottom: 45px;
  margin-left: 2%;
  width: 100%;
  /*background: red;*/
  list-style: none;
  vertical-align: top;
}

#menu .menu-list-detail li {
  position: relative;
  margin-top: 20px;
  height: 75px;
  border-bottom: 1px solid rgba(187, 186, 187, .6);
}

.menu-list-detail li img {
  float: left;
  margin-left: 3px;
  width: 55px;
  height: 55px;
}

.menu-list-detail li .msg-box {
  margin: 0 0 0 63px;
}

.msg-box p {
  padding-top: 5px;
  font-size: 12px;
  color: red;
}

.menu-list-detail .peopleNum-sub {
  right: 3px;
}

#menuFooter {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  width: 100%;
  height: 45px;
  /*border-top: 1px solid #505050;*/
  background: rgb(237, 236, 237);
}

#menuFooter .shoppingCar {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(214, 33, 49, .9);
  border-radius: 100%;
  font-size: 30px;
  color: red;
  text-align: center;
  line-height: 40px;
  background: #fff;
}

#menuFooter .menu-num {
  position: absolute;
  top: -5px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 15px;
  background: red;
}

#menuFooter .totle-money {
  margin: 0 0 0 60px;
  line-height: 45px;
}

#menuFooter .menu-btn {
  position: absolute;
  padding: 0 20px;
  right: 0;
  height: 45px;
  line-height: 44px;
  background: red;
  color: #fff;
}

.menu-list .item-selected {
  background: #fff;
}

#menu .my-order-box, #menu .detail-box {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, .3);
  width: 100%;
  height: 100%;
}

#menu .detail-box {
  /*display: none;*/
  background: rgba(0, 0, 0, .8);
  z-index: 1000000;
  color: #fff;
}

#menu .detail-box h4 {
  color: #fff;
}

#menu .detail-box .detail-cancel {
  margin: 10px;
  font-size: 20px;
  float: right;
}

.detail-box ul {
  margin: 30% auto;
  width: 83%;
}

.detail-box ul li {
  margin: 10px 0;
  text-align: center;
}

.detail-box ul li:last-child {
  margin-top: 30px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 3px;
}

.detail-box img {
  max-width: 90%;
  border-radius: 10px;
}

#menu .my-order {
  position: absolute;
  padding: 5px 5px 30px;
  bottom: 45px;
  background: #fff;
  width: 100%;
}

.my-order li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid #909090;
  padding: 5px 0;
}

.my-order .peopleNum-sub {
  top: 5px;
  right: 0;
  font-size: 14px;
}

.my-order li:first-child span {
  float: right;
  font-size: 12px;
  color: red;
}

.my-order li>span {
  margin-left: 20px;
}
