.orderTitle {
  font-size: .2rem;
}

#orders {
  font-size: .14rem;
  background: #f5f5f5;
}

#orders .tabs {
  padding-top: 0 !important;
  top: 0;
  height: .4rem;
  line-height: .4rem;
}

#order-page1, #order-page2, #order-page3 {
  top: .46rem;
  background: #f5f5f5;
  height: 100%;
}

#order-page1 ul, #order-page2 ul, #order-page3 ul {
  margin-bottom: .45rem;
}

.page-item {
  margin-bottom: .15rem;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.nologin {
  margin-top: .7rem;
  padding-top: 1.6rem;
  text-align: center;
  font-size: .2rem;
  background: url(../img/nologin.png) no-repeat center top;
  color: rgb(19, 123, 232);
}

.page-item p:first-child {
  margin: 0;
  line-height: .4rem;
  padding-left: .05rem;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #e0e0e0;
}

.page-item p {
  margin: .02rem .1rem;
}

.page-item div {
  overflow: hidden;
  padding: .08rem .05rem;
  border-top: 1px solid #e0e0e0;
}

.page-item div a, .page-item div span {
  float: right;
  padding: .03rem .05rem;
  margin-left: .2rem;
  border-radius: .05rem;
  color: #fff;
}

.page-item div span {
  background: rgba(128, 128, 128, 0.79);
}

.page-item div a {
  padding: .03rem .13rem;
  background: rgba(245, 38, 38, 0.91);
}

.redColor {
  color: red;
}

#order-page2 .page-item div a {
  padding: .03rem .13rem;
}

#order-page2 .page-item div a:first-child {
  background: rgba(245, 38, 38, 0.91);
}

#order-page2 .page-item div a:last-child {
  background: rgba(0, 0, 0, .5);
}

#order-page3 .write-btn {
  float: right;
  padding: .03rem .13rem;
  border-radius: .05rem;
  color: #fff;
  background: rgb(226, 109, 25);
  border: none;
  outline: none;
}
