.orderTitle {
  font-size: .2rem;
}

#orders {
  font-size: .14rem;
}

#orders .tabs {
  padding-top: 0 !important;
  top: .43rem;
  height: .4rem;
  line-height: .4rem;
}

#order-page1, #order-page2, #order-page3 {
  margin-bottom: .42rem;
  top: .42rem;
  background: #f5f5f5;
}

.page-item {
  margin-bottom: .2rem;
  background: #fff;
  border-bottom: 1px solid #ffcc66;
}

.page-item p:first-child {
  margin: 0;
  padding: .05rem 0;
  padding-left: .05rem;
  background: rgb(250, 123, 20);
  border-bottom: 1px solid rgba(0, 0, 120, .2);
}

.page-item p {
  margin: .02rem .1rem;
}

.page-item div {
  overflow: hidden;
  padding: .05rem .05rem .03rem;
}

.page-item div a, .page-item div span {
  float: right;
  padding: .03rem .05rem;
  margin-left: .2rem;
  border-radius: .05rem;
  color: #fff;
}

.page-item div span {
  background: rgba(128, 128, 128, 0.79);
}

.page-item div a {
  padding: .03rem .13rem;
  background: rgb(226, 109, 25);
}

.redColor {
  color: red;
}

#order-page2 .page-item div a {
  padding: .03rem .13rem;
}

#order-page2 .page-item div a:first-child {
  background: rgb(195, 20, 6);
}

#order-page2 .page-item div a:last-child {
  background: rgb(226, 109, 25);
}

#order-page3 .write-btn {
  float: right;
  padding: .03rem .13rem;
  border-radius: .05rem;
  color: #fff;
  background: rgb(226, 109, 25);
  border: none;
  outline: none;
}
