.orderTitle {
  font-size: 20px;
  color: #fff;
}

#orders .tabs {
  padding-top: 0 !important;
  top: 44px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(43, 45, 39, 0.44);
}

#orders .order-pages {
  margin-top: 40px;
}

.order-pages .unlogined {
  color: red;
  text-align: center;
}

.order-pages .robot {
  margin-left: -90px;
}
