/* Empty. Add your own CSS if you like */

.tabs {
  background: #fff !important;
  box-shadow: 0 0 3px 0 #909090;
}

.back-btn {
  display: inline-block;
  margin-top: -5px;
  padding: 5px;
  font-size: 18px;
}

.headerBg .bar, .bar {
  background: rgb(32, 119, 182);
  color: #fff;
  border-bottom: none;
}

#userProtocol .scroll-content, #about .scroll-content {
  padding: 10px 15px;
  font-size: 12px;
}

#fedback {
  background: #f5f5f5;
  text-align: center;
}

#fedback .fedbackText {
  padding: 5px;
  width: 100%;
  font-size: 14px;
  word-break: break-all;
}

#fedback .btn {
  margin-top: 50px;
  width: 150px;
  height: 30px;
  background: rgb(107, 219, 47);
  border: none;
  outline: none;
  box-shadow: 1px 1px 2px 0 #909090;
}

#search .headerBg {
  position: relative;
}

#search .search-text {
  padding: 5px 10px;
  position: absolute;
  z-index: 100000;
  top: 5px;
  left: 15%;
  background: rgb(32, 119, 182);
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid #f0f0f0;
  color: #fff;
}

#search .backBtn {
  position: absolute;
  z-index: 20000;
}

#commendRestaurent {
  background: #f5f5f5;
}

.commendRestaurentBtn {
  margin: 20px auto;
  display: block;
  width: 80%;
  height: 30px;
  color: #fff;
  background: rgb(235, 80, 80);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #909090;
}

.account-edit {
  position: absolute;
  top: 13px;
  right: 10px;
  z-index: 1000;
}

.account-List .accountInput {
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
  width: 70%;
  background: #fff;
}

.account-radois {
  display: inline-block;
  margin-right: 15px;
  float: right;
}

#account .birthdate {
  margin-right: 10px;
  float: right;
}

#account .account-img {
  display: inline-block;
  float: right;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}


/*预约页面*/

#book-table {
  background: #f5f5f5;
}

#book-table input {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0px;
  padding-right: 15px;
  text-align: right;
  width: 70%;
  background: #fff;
}

#book-table .list-bottom {
  margin-top: 10px;
}

#book-table .go-btn {
  display: block;
  margin: 30px auto;
  width: 70%;
}

#book-table .checkbox {
  opacity: 0;
}

#book-table .checkbtn {
  position: absolute;
  right: 15px;
  top: 11px;
}

.peopleNum-sub {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
}

.peopleNum-sub span {
  display: inline-block;
  margin: 0 7px;
  width: 20px;
  height: 20px;
  border: 1px solid #909090;
  text-align: center;
  line-height: 16px;
}

#book-table .time {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
}

#book-table .desk-box {
  display: none;
  width: 100%;
  height: 130px;
}

#book-table .desk-box .scroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#book-table .desk {
  padding-top: 40px;
  margin-top: 5px !important;
  display: inline-block;
  width: 22%;
  /*height: 60px;*/
  background: url('../img/desk.png') no-repeat center top;
  background-size: 40px 40px;
  text-align: center;
}

#book-table .desk-active {
  background: url('../img/desk2.png') no-repeat center top;
}

#qrcode_welcome .welcome-text p {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
}

#qrcode_welcome .welcome-text p span {
  color: red;
}

#qrcode_welcome .welcome-text p strong {
  display: block;
  color: rgb(13, 68, 162);
}


/*商家营业资质*/

#enterprise .scroll-content, #enterprise .scroll {
  height: 90%;
  text-align: center;
}

#enterprise .slideBox {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}

#enterprise .slideBox img {
  width: 96%;
  height: 100%;
}


/*注册*/

#register {
  /*background: #f5f5f5;*/
  text-align: center;
}

.register-box div {
  margin: 5px auto;
  padding: 5px 0;
  width: 90%;
  border: 1px solid #909090;
  border-radius: 10px;
  /*background: #fff;*/
}

.register-box div:first-child {
  margin-top: 20%;
}

.register-box div input {
  display: inline-block;
  width: 55%;
  vertical-align: middle;
  /*background: red;*/
  /*border-bottom: 1px solid rgb(11, 108, 222);*/
}

.register-box div span {
  padding-right: 10px;
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: middle;
}

.register-box .button {
  padding: 0px;
  margin-top: 50px;
  width: 60%;
}

.register-box .eyes, .register-box .check-result {
  font-size: 20px;
  vertical-align: middle;
  /*color: blue;*/
}

.register-box .name-right {
  color: rgb(0, 122, 16);
}

.register-box .active, .register-box .name-wrong {
  color: red;
}


/*顾客评论*/

.evaluation-content, #evaluation ion-content {
  overflow: hidden;
}

#evaluation .evaluation-content li {
  margin: 15px auto;
  width: 95%;
  /*border: 1px solid #000;*/
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px 0 #000;
}

.evaluation-content li div, .evaluation-content li p {
  padding: 5px;
  overflow: hidden;
}

.evaluation-content li>div:first-child {
  background: #f5f5f5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.evaluation-content li>div:first-child img {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.evaluation-content li>div:last-child {
  background: #f5f5f5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  color: rgb(26, 61, 210);
}

.evaluation-content li .time {
  font-size: 14px;
  color: #909090;
}

.evaluation-content li>div:last-child i {
  float: right;
  margin: 0 5px;
  letter-spacing: 10px;
}


/*城市选择*/

#selectCity .city-nav {
  background: #f0f0f0;
}

#selectCity .location-city, #selectCity .hot-city {
  margin: 10px;
}

#selectCity .location-city div, #selectCity .hot-city div {
  margin: 10px;
}

#selectCity .location-city span, #selectCity .hot-city span {
  margin: 15px;
  padding: 3px 5px;
  /*border: 1px solid #000;*/
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #000;
}

#selectCity .alphabet {
  padding-top: 45px;
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  text-align: center;
  background: rgba(13, 84, 180, .7);
  color: #fff;
}

#selectCity .city li {
  padding: 3px 10px;
  border-bottom: 1px solid rgba(166, 166, 166, .2);
}

#selectCity .city li:first-child {
  border-top: 1px solid rgba(166, 166, 166, .3);
}

#selectCity .show-alphabet {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  background: rgba(15, 97, 221, .8);
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
}


/*已点菜单*/

#shoppingCar .car-trash {
  position: absolute;
  z-index: 100;
  top: 13px;
  right: 15px;
  font-size: 20px;
}

#shoppingCar .classify {
  color: #F35800;
  border-top: 1px solid #CACACA;
}

#shoppingCar .shoppingCar-order li {
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #CACACA;
  font-size: 12px;
}

#shoppingCar .shoppingCar-order li span, #shoppingCar .classify span {
  width: 30%;
  text-align: center;
}

#shoppingCar .footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: #EF2F2F;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  letter-spacing: 15px;
}

#shoppingCar .orderMsg div {
  margin: 15px 5px;
}

#shoppingCar .orderMsg div>span {
  color: #0D05C7;
}


/*我的关注*/

#concern .item-top {
  /*position: absolute;*/
  padding-bottom: 10px;
  width: 100%;
  /*background: red;*/
}

#concern .item-top span:first-child {
  padding: 3px 8px;
  border: 1px solid #2065E8;
  border-radius: 100%;
}

#concern .item-top span:last-child {
  float: right;
  background: #B6B2B2;
  font-size: 12px;
  padding: 0px 8px;
  border: 1px solid #2065E8;
  border-radius: 2px;
}

#concern .aitem div {
  margin-left: 0;
}

#concern .aitem .item-con {
  margin-left: 120px;
}


/*写评论*/

.write-content div {
  margin: 25px 5px;
}

.write-content div span, .write-content div input {
  vertical-align: middle;
}

.write-content div input {
  margin: 0 20px;
}

.write-content div span:last-child {
  padding: 2px;
  border: 1px solid #0D3EC7;
  border-radius: 5px;
  color: red;
}

.write-content div textarea {
  /*background: #D5D5D5;*/
  padding: 5px;
  width: 96%;
  /*margin-right: 5px;*/
  border: 1px solid #F27C04;
}

.write-content div i {
  color: #0731C5;
}

#writeComment #footer {
  height: 45px;
  text-align: center;
  line-height: 45px;
  background: #DA0000;
  color: #fff;
  font-size: 18px;
  letter-spacing: 5px;
}


/*推荐餐厅*/

#commendRestaurent h4 {
  margin: 50px 0 15px;
  text-align: center;
}

#commendRestaurent select {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 40px;
  font-size: 20px;
  border: 1px solid rgb(37, 59, 201);
}

#commendRestaurent textarea {
  margin: 0 auto;
  padding: 5px;
  width: 95%;
  border: 1px solid rgb(37, 59, 201);
  border-radius: 5px;
  font-size: 18px;
}

#commendRestaurent #footer {
  height: 45px;
  line-height: 45px;
  background: red;
  color: #fff;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
}


/*账户*/

#account #passwordBox {
  display: none;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
}

#passwordBox>div {
  padding-top: 40px;
  margin: 50% auto;
  width: 70%;
  background: #fff;
  border-radius: 5px;
}

#passwordBox>div div {
  text-align: center;
}

#passwordBox input {
  padding: 0 5px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(185, 185, 185, 0.84);
}

#passwordBox input:first-child {
  border-bottom: none;
}

#passwordBox span {
  margin: 20px 15px;
  padding: 5px 30px;
  display: inline-block;
  height: 40px;
  line-height: 30px;
  text-align: center;
  background: red;
  color: #fff;
  border-radius: 10px;
}

#passwordBox span:last-child {
  background: rgb(18, 13, 238);
}
