/* Empty. Add your own CSS if you like */

.tabs {
  background: #fff !important;
  box-shadow: 0 0 3px 0 #909090;
}



.headerBg .bar {
  background: rgb(32, 119, 182);
  color: #fff;
}

#userProtocol .scroll-content, #about .scroll-content {
  padding: 10px 15px;
  font-size: 12px;
}

#fedback {
  background: #f5f5f5;
  text-align: center;
}

#fedback .fedbackText {
  padding: 5px;
  width: 100%;
  font-size: 14px;
  word-break: break-all;
}

#fedback .btn {
  margin-top: 50px;
  width: 150px;
  height: 30px;
  background: rgb(107, 219, 47);
  border: none;
  outline: none;
  box-shadow: 1px 1px 2px 0 #909090;
}

#search .headerBg {
  position: relative;
}

#search .search-text {
  padding: 5px 10px;
  position: absolute;
  z-index: 100000;
  top: 14%;
  left: 15%;
  background: rgb(32, 119, 182);
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 1px solid #f0f0f0;
  color: #fff;
}

#search .backBtn {
  position: absolute;
  z-index: 20000;
}

#commendRestaurent {
  background: #f5f5f5;
}

.commendRestaurentBtn {
  margin: 20px auto;
  display: block;
  width: 80%;
  height: 30px;
  color: #fff;
  background: rgb(235, 80, 80);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #909090;
}

.account-edit {
  position: absolute;
  top: 13px;
  right: 10px;
  z-index: 1000;
}

.account-List .accountInput {
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
  width: 70%;
  background: #fff;
}

.account-radois {
  display: inline-block;
  margin-right: 15px;
  float: right;
}

#account .birthdate {
  margin-right: 10px;
  float: right;
}

#account .account-img {
  display: inline-block;
  float: right;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

#book-table {
  background: #f5f5f5;
}

#book-table input {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0px;
  padding-right: 15px;
  text-align: right;
  width: 70%;
  background: #fff;
}

#book-table .list-bottom {
  margin-top: 10px;
}

#book-table .go-btn {
  display: block;
  margin: 30px auto;
  width: 70%;
}
