/* Empty. Add your own CSS if you like */

html, body {
  /*font-size: 100px;*/
}

.tabs {
  background: #fff !important;
  box-shadow: 0 0 .01rem 0 #909090;
}

a {
  text-decoration: none;
  color: #fff;
}

.back-btn {
  display: inline-block;
  margin-top: -.05rem;
  padding: .05rem;
  font-size: .18rem;
}

.headerBg .bar, .bar {
  background: rgb(32, 119, 182);
  color: #fff;
  border-bottom: none;
}

#userProtocol .scroll-content, #about .scroll-content {
  padding: .1rem .15rem;
  font-size: .12rem;
}

#fedback {
  background: #f5f5f5;
  text-align: center;
}

#fedback .fedbackText {
  padding: .05rem;
  width: 100%;
  font-size: .14rem;
  word-break: break-all;
}

#fedback .btn {
  margin-top: .5rem;
  width: 1.5rem;
  height: .3rem;
  background: rgb(107, 219, 47);
  border: none;
  outline: none;
  box-shadow: .01rem .01rem .02rem 0 #909090;
}

#search .headerBg {
  position: relative;
}

#search .search-text {
  padding: .05rem .1rem;
  position: absolute;
  z-index: 100000;
  top: .05rem;
  left: 15%;
  background: rgb(32, 119, 182);
  width: 80%;
  border: none;
  outline: none;
  border-bottom: .01rem solid #f0f0f0;
  color: #fff;
}

#search .backBtn {
  position: absolute;
  z-index: 20000;
}

#commendRestaurent {
  background: #f5f5f5;
}

.commendRestaurentBtn {
  margin: .2rem auto;
  display: block;
  width: 80%;
  height: .3rem;
  color: #fff;
  background: rgb(235, 80, 80);
  border: none;
  border-radius: .05rem;
  box-shadow: 0 0 .03rem 0 #909090;
}

.account-edit {
  position: absolute;
  top: .13rem;
  right: .1rem;
  z-index: 1000;
  font-size: .16rem;
}

.account-List .accountInput {
  display: inline-block;
  position: absolute;
  top: 15%;
  right: .15rem;
  text-align: right;
  font-size: .16rem;
  width: 70%;
  background: #fff;
}

.account-radois {
  display: inline-block;
  position: absolute;
  right: .15rem;
}

#account .birthdate {
  position: absolute;
  right: .15rem;
}

#account .account-img {
  display: inline-block;
  position: absolute;
  right: .15rem;
  width: .3rem;
  height: .3rem;
  border-radius: .1rem;
}


/*预约页面*/

#book-table {
  background: #f5f5f5;
  font-size: .16rem;
}

#book-table input {
  display: inline-block;
  position: absolute;
  top: .1rem;
  right: 0;
  padding-right: .15rem;
  text-align: right;
  width: 70%;
  background: #fff;
}

#book-table .list-bottom {
  margin-top: .1rem;
}

#book-table .go-btn {
  display: block;
  margin: .3rem auto;
  width: 70%;
}

#book-table .checkbox {
  opacity: 0;
}

#book-table .checkbtn {
  position: absolute;
  right: .15rem;
  top: .11rem;
}

.peopleNum-sub {
  position: absolute;
  right: .15rem;
  top: .15rem;
  font-size: .18rem;
}

.peopleNum-sub span {
  display: inline-block;
  margin: 0 .07rem;
  width: .2rem;
  height: .2rem;
  border: .01rem solid #909090;
  text-align: center;
  line-height: .16rem;
}

#book-table .time {
  position: absolute;
  right: .15rem;
  top: .15rem;
  color: #000;
}

#book-table .desk-box {
  display: none;
  width: 100%;
  height: 1.3rem;
}

#book-table .desk-box .scroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#book-table .desk {
  padding-top: .4rem;
  margin-top: .05rem !important;
  display: inline-block;
  width: 22%;
  background: url('../img/desk.png') no-repeat center top;
  background-size: .4rem .4rem;
  text-align: center;
}

#book-table .desk-active {
  background: url('../img/desk2.png') no-repeat center top;
  background-size: .4rem .4rem;
  color: red;
}

#qrcode_welcome .welcome-text p {
  margin-top: .5rem;
  text-align: center;
  font-size: .16rem;
}

#qrcode_welcome .welcome-text p span {
  color: red;
}

#qrcode_welcome .welcome-text p strong {
  display: block;
  color: rgb(13, 68, 162);
}


/*商家营业资质*/

#enterprise .scroll-content, #enterprise .scroll {
  height: 90%;
  text-align: center;
}

#enterprise .slideBox {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}

#enterprise .slideBox img {
  width: 96%;
  height: 100%;
}


/*注册*/

#register {
  /*background: #f5f5f5;*/
  text-align: center;
}

.register-box div {
  margin: .05rem auto;
  padding: .05rem 0;
  width: 90%;
  border: .01rem solid #909090;
  border-radius: .1rem;
}

.register-box div:first-child {
  margin-top: 20%;
}

.register-box div input {
  display: inline-block;
  width: 55%;
  vertical-align: middle;
}

.register-box div span {
  padding-right: .1rem;
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: middle;
}

.register-box .button {
  padding: 0;
  margin-top: .5rem;
  width: 60%;
}

.register-box .eyes, .register-box .check-result {
  font-size: .2rem;
  vertical-align: middle;
}

.register-box .name-right {
  color: rgb(0, 122, 16);
}

.register-box .active, .register-box .name-wrong {
  color: red;
}


/*顾客评论*/

.evaluation-content, #evaluation ion-content {
  overflow: hidden;
}

#evaluation .evaluation-content li {
  margin: .15rem auto;
  width: 95%;
  border-radius: .1rem;
  overflow: hidden;
  box-shadow: 0 0 .02rem 0 #000;
}

.evaluation-content li div, .evaluation-content li p {
  padding: .05rem;
  overflow: hidden;
}

.evaluation-content li>div:first-child {
  background: #f5f5f5;
  border-top-right-radius: .1rem;
  border-top-left-radius: .1rem;
}

.evaluation-content li>div:first-child img {
  margin-right: .15rem;
  width: .25rem;
  height: .25rem;
  vertical-align: middle;
}

.evaluation-content li>div:last-child {
  background: #f5f5f5;
  border-bottom-right-radius: .1rem;
  border-bottom-left-radius: .1rem;
  font-size: .2rem;
  color: rgb(26, 61, 210);
}

.evaluation-content li .time {
  font-size: .14rem;
  color: #909090;
}

.evaluation-content li>div:last-child i {
  float: right;
  margin: 0 .05rem;
  letter-spacing: .1rem;
}


/*城市选择*/

#selectCity {
  font-size: .14rem;
}

#selectCity .city-nav {
  background: #f0f0f0;
}

#selectCity .location-city, #selectCity .hot-city {
  margin: .1rem;
}

#selectCity .location-city div, #selectCity .hot-city div {
  margin: .1rem;
}

#selectCity .location-city span, #selectCity .hot-city span {
  margin: .15rem;
  padding: .03rem .05rem;
  border-radius: .05rem;
  box-shadow: 0 0 .02rem 0 #000;
}

#selectCity .alphabet {
  padding-top: .6rem;
  position: fixed;
  top: 0;
  right: 0;
  width: .2rem;
  height: 100%;
  text-align: center;
  background: rgba(13, 84, 180, .7);
  color: #fff;
}

#selectCity .city li {
  padding: .03rem .1rem;
  border-bottom: .01rem solid rgba(166, 166, 166, .2);
}

#selectCity .city li:first-child {
  border-top: .01rem solid rgba(166, 166, 166, .3);
}

#selectCity .show-alphabet {
  position: fixed;
  top: 50%;
  left: 50%;
  width: .5rem;
  height: .5rem;
  margin-left: -.25rem;
  margin-top: -.25rem;
  background: rgba(15, 97, 221, .8);
  color: #fff;
  font-size: .25rem;
  border-radius: .1rem;
  text-align: center;
  line-height: .5rem;
}


/*已点菜单*/

#shoppingCar {
  font-size: .14rem;
}

#shoppingCar .car-trash {
  position: absolute;
  z-index: 100;
  top: .13rem;
  right: .15rem;
  font-size: .2rem;
}

#shoppingCar .classify {
  color: #F35800;
  border-top: .01rem solid #CACACA;
}

#shoppingCar .shoppingCar-order li {
  padding: .05rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  border-bottom: .01rem solid #CACACA;
  font-size: .12rem;
}

#shoppingCar .shoppingCar-order li span, #shoppingCar .classify span {
  width: 30%;
  text-align: center;
}

#shoppingCar .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: .4rem;
  background: #EF2F2F;
  font-size: .2rem;
  color: #fff;
  text-align: center;
  line-height: .4rem;
  letter-spacing: .15rem;
}

#shoppingCar .orderMsg div {
  margin: .07rem 0;
  padding-left: .05rem;
}

#shoppingCar .orderMsg div:last-child {
  padding-left: 0;
}

#shoppingCar .orderMsg div>span {
  color: #0D05C7;
}

#shoppingCar .footer a {
  display: inline-block;
  width: 100%;
  height: 100%;
}


/*我的关注*/

#concern .item-top {
  position: relative;
  padding-bottom: .1rem;
  width: 100%;
}

#concern .item-top span:first-child {
  padding: .03rem .08rem;
  border: .01rem solid #2065E8;
  border-radius: 100%;
}

#concern .item-top span:last-child {
  position: absolute;
  right: 0;
  background: #B6B2B2;
  font-size: .12rem;
  padding: 0 .08rem;
  border: .01rem solid #2065E8;
  border-radius: .02rem;
}

#concern .aitem div {
  margin-left: 0;
}

#concern .aitem .item-con {
  margin-left: 1.2rem;
}


/*写评论*/

.write-content {
  font-size: .16rem;
}

.write-content div {
  margin: .25rem .05rem;
}

.write-content div span, .write-content div input {
  vertical-align: middle;
}

.write-content div input {
  margin: 0 .2rem;
}

.write-content div span:last-child {
  padding: .02rem;
  border: .01rem solid #0D3EC7;
  border-radius: .05rem;
  color: red;
}

.write-content div textarea {
  padding: .05rem;
  width: 96%;
  border: .01rem solid #F27C04;
}

.write-content div i {
  color: #0731C5;
}

#writeComment #footer {
  height: .45rem;
  text-align: center;
  line-height: .45rem;
  background: #DA0000;
  color: #fff;
  font-size: .18rem;
  letter-spacing: .05rem;
}


/*推荐餐厅*/

#commendRestaurent h4 {
  margin: .5rem 0 .15rem;
  text-align: center;
}

#commendRestaurent select {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: .4rem;
  font-size: .16rem;
  border: 1px solid rgb(230, 152, 20);
}

#commendRestaurent textarea {
  margin: 0 auto;
  padding: .05rem;
  width: 95%;
  border: 1px solid rgb(230, 152, 20);
  border-radius: .05rem;
  font-size: .16rem;
}

#commendRestaurent #footer {
  line-height: .45rem;
  background: rgb(194, 113, 29);
  color: #fff;
  font-size: .18rem;
  letter-spacing: .05rem;
  text-align: center;
}


/*账户*/

#account #passwordBox {
  display: none;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, .3);
  width: 100%;
  height: 100%;
  font-size: .16rem;
}

#passwordBox>div {
  padding-top: .3rem;
  margin: 50% auto;
  width: 70%;
  background: #fff;
  border-radius: .05rem;
}

#passwordBox>div>div {
  margin: .3rem auto;
  padding-bottom: .1rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 90%;
}

#passwordBox input {
  padding: 0 .05rem;
  margin: .1rem auto;
  width: 90%;
  line-height: .5rem;
  border: 1px solid rgba(185, 185, 185, 0.84);
  border-radius: .05rem;
}

#passwordBox span {
  padding: 0 .3rem;
  display: inline-block;
  line-height: .3rem;
  background: rgb(139, 139, 135);
  color: #fff;
  font-size: .14rem;
  border-radius: 5px;
}

#passwordBox span:last-child {
  background: rgb(210, 179, 16);
}


/*支付*/

#pay {
  background: #f5f5f5;
  font-size: .14rem;
}

#pay .pay-order {
  padding: .2rem .1rem;
  background: #fff;
  border-bottom: .01rem solid #c0c0c0;
  font-size: .16rem;
}

#pay .pay-order li {
  margin: .1rem 0;
}

.pay-order li:first-child span {
  font-size: .3rem;
  color: red;
}

#pay .pay-payselector {
  margin-top: .2rem;
  background: #fff;
  border-top: .01rem solid #c0c0c0;
}

#pay .pay-payselector li {
  padding: .1rem;
  border-bottom: 1px solid #c0c0c0;
  vertical-align: middle;
}

.pay-payselector li input {
  float: right;
  display: inline-block;
  margin-top: .08rem;
  width: .18rem;
  height: .18rem;
}

.pay-payselector li img {
  vertical-align: middle;
}

#pay .paybtn {
  margin: .4rem auto 0;
  padding: .08rem 0;
  display: block;
  width: 80%;
  background: red;
  border: none;
  outline: none;
  border-radius: .05rem;
  color: #fff;
  font-size: .16rem;
}

#pay .stop-pay {
  margin-top: .2rem;
  text-align: center;
  color: #909090;
  text-decoration: underline;
}


/*我的二维码*/

#invite img, #qrcodepay img {
  width: 100%;
}


/*扫二维码支付*/

#qrcodepay p {
  position: relative;
  top: .60rem;
  text-align: center;
  color: red;
  font-size: .16rem;
}


/*支付*/

.pay-mask {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 202;
}

.pay-wrap {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2.63rem;
  height: 2.42rem;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.pay-wrap p:first-child {
  height: .4rem;
  line-height: .4rem;
  font-size: .16rem;
}

.pay-wrap p:nth-child(2) {
  line-height: .46rem;
  font-size: .3rem;
}

.pay-wrap p:nth-child(3) {
  padding: .06rem .14rem;
  font-size: 0;
}

.pay-wrap p:nth-child(3) input {
  border: none;
  padding: 0;
  width: 0;
  height: 0;
}

.pay-wrap p:nth-child(3) label {
  display: inline-block;
  width: 2.35rem;
  height: .5rem;
  font-size: .16rem;
  background: url(../img/password-bg.png) no-repeat;
  background-size: 2.35rem 100%;
  line-height: .5rem;
  text-align: left;
  overflow: hidden;
}

.pay-wrap p:nth-child(3) label span {
  display: inline-block;
  height: .13rem;
  background: black;
  width: .13rem;
  border-radius: 100%;
  margin: 0 .13rem;
}

.pay-wrap p:nth-child(4) {
  margin-top: .15rem;
  padding-left: .14rem;
  padding-right: .14rem;
  text-align: justify;
}

.pay-wrap p:nth-child(4):after {
  width: 1.27rem;
  height: 0;
  margin: 0;
  display: inline-block;
  overflow: hidden;
  content: '';
}

.pay-wrap p:nth-child(4) button {
  width: 1rem;
  height: .3rem;
  font-size: .16rem;
  outline: none;
  border-radius: 5px;
}

.pay-wrap>p:nth-child(4) .pay-cancal {
  border: 1px solid #ddd;
  background: #f0f0f0;
}

.pay-wrap>p:nth-child(4) .pay-refine {
  background: #f29004;
  border: none;
  color: white;
}

.pwd-wrong {
  width: 1.3rem;
  height: .5rem;
  position: absolute;
  top: 2.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: .17rem;
  line-height: .5rem;
  text-align: center;
  z-index: 203;
  border-radius: 10px;
}

.paying-box, .pay-result {
  position: absolute;
  left: 25%;
  top: 30%;
  padding-top: .2rem;
  width: 50%;
  background: #fff;
  text-align: center;
  border-radius: .1rem;
}

.paying-box>p, .pay-result p {
  font-size: .2rem;
  line-height: .8rem;
}

.spinner svg {
  width: .6rem;
  height: .6rem;
  stroke: #444;
  fill: rgb(217, 86, 12);
}
